*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.outSide{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*top开始*/
.Top{
    width: 100%;
    height: 8.89rem;
    background: url("img/scen.png") no-repeat center;
    background-size: cover;
    border-bottom: 1px solid #000;
    position: relative;
}
.voice{
    width: 0.5rem;
    height: 0.5rem;
    background-size: cover;
    position: absolute;
    top:0.62rem;
    right:0.2rem;
}
.voice img{
    display: block;
    width: 100%;
}
.wordBox{
    width: 6rem;
    height: 6.5rem;
    overflow: hidden;
    position: absolute;
    top:1.2rem;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
.letter {
    width: 0.6rem;
    height: 0.8rem;
    /*background-color: red;*/
    background-size: cover!important;
    position: absolute;
}
.lifeValue{
    width: 1.24rem;
    height: 1.24rem;
    background: url("img/Health.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top:3.23rem;
    right:0.24rem;
    overflow: hidden;
}
.lifeValue span{
    display: block;
    width: 0.8rem;
    height: 0.4rem;
    margin: 0.2rem auto;
    /*background: rgba(0,0,255,0.5);*/
    font-size: 0.3rem;
    font-weight: bold;
    line-height: 0.4rem;
    text-align: center;
    color:#333;
}
.integralValue{
    width: 1.24rem;
    height: 1.24rem;
    background: url("img/Point.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top:4.6rem;
    right:0.24rem;
    overflow: hidden;
}
.integralValue span{
    display: block;
    width: 0.8rem;
    height: 0.4rem;
    margin: 0.2rem auto;
    /*background: rgba(0,0,255,0.5);*/
    font-size: 0.3rem;
    font-weight: bold;
    line-height: 0.4rem;
    text-align: center;
    color:#333;
}
.pauseButton{
    width: 1.25rem;
    height: 1.25rem;
    /*background: yellow;*/
    position: absolute;
    bottom:1.42rem;
    right:0.24rem;
}
.pauseButton img{
    display: block;
    width:100%;
}
/*top结束*/
.alert{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    left:0;
    display: none;
}
.overPlay{
    width: 4.3rem;
    height: 4.49rem;
    background: url("img/gameover.png") no-repeat center;
    background-size: contain;
    position: absolute;
    top:2rem;
    left:0;
    right:0;
    margin: auto;
}
.overPlay span{
    display: block;
    width: 0.7rem;
    height: 0.4rem;
    /*background: yellow;*/
    font-size: 0.3rem;
    font-weight: bold;
    line-height: 0.4rem;
    text-align: center;
    color:#333;
    position: absolute;
    left:2.1rem;
    bottom:1.3rem;

}
.yun{
    width: 5rem;
    height: 0.6rem;
    background: url("img/clound_06.png" )no-repeat center;
    background-size: cover;
    position: absolute;
    top:1.53rem;
    left:1.3rem;
}
.btn{
    width: 2.63rem;
    height: 0.6rem;
    background: url("img/btn.png") no-repeat center;
    background-size: contain;
    position: absolute;
    bottom:0.45rem;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}






/*bottom开始*/
.Bottom{
    width: 100%;
    height: 4.44rem;
    background: url("img/key.png") no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.keyBoard{
    width: 7.02rem;
    height: 4rem;
    background: rgba(44,117,215,0.8);
    margin: 0.25rem 0 0 0.24rem;
    border-radius: 0.2rem;
    overflow: hidden;
    /*display: flex;*/
    /*align-content: space-around;*/
}
.keyBoard ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 20px;
}
.keyBoard ul:nth-child(2){
    width: 6.5rem;
    margin: 20px auto;
}
.keyBoard ul:nth-child(3){
    width: 5.4rem;
    margin: 20px auto;
}
.keyBoard li{
    width: 0.5rem;
    height: 0.9rem;
    /*background: #d2f6fe;*/
    background: url("img/Letter.png") no-repeat center;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.03rem rgba(0,0,0,1);
}
.keyBoard span{
    display: block;
    width: 0.3rem;
    height: 0.6rem;
    /*background: yellow;*/
    margin: 0.11rem auto;
    font-size: 0.3rem;
    font-weight: normal;
    line-height: 0.6rem;
    text-align: center;
    color:#333;
}
/*bottom结束*/
.cover{
    width: 100%;
    height: 4.44rem;
    /*background-color: red;*/
    position: absolute;
    bottom:0;
    z-index: 20;
    display: none;
}
